body {
	color: white;
	background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
	background-attachment: fixed;
}
.dropzone {
	background: rgba(255, 255, 255, 0.3);
	border: 2px dashed white;
}
.dropzone .dz-preview.dz-image-preview {
	background-color: transparent;
}
.hidden {
	display: none;
}
.screenshot {
	height: 120px;
}
